* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-grey-title: #232323;
  --dark-grey-text: #838388;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 930px;
  min-width: 400px;
  display: flex;
}

/* Header */

header {
  background-image: url(../images/bg.jpg);
  background-size: cover;
  height: 53vh;
  background-position: top center;
  display: flex;
  justify-content: center;
}

.container__header {
  width: 930px;
  justify-content: space-between;
}

.header__left-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header__image__logo {
  max-width: 200px;
  margin-left: -11px;
  margin-bottom: 30px;
}

.header__image__phone {
  max-height: 420px;
  align-self: flex-end;
}

.header__subtitle-text {
  display: block;
  max-width: 400px;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  color: rgb(255, 255, 255);
  margin-bottom: 100px;
}

/* Main section */

main {
  display: flex;
  justify-content: center;
}

.container__section {
  width: 930px;
  flex-direction: column;
}

.section-title {
  display: flex;
  flex-direction: column;
}

.section-title__main-title {
  margin: 60px 0 20px 0;
  font-size: 30px;
  font-weight: 600;
  color: var(--dark-grey-title);
  text-align: center;
}

.section-title__secondary-title {
  color: var(--dark-grey-text);
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 80px;
}

.section-articles {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
}

.article {
  color: white;
  min-width: 150px;
  text-align: center;
}

.section-articles .article:nth-child(2) {
  margin: 0 15px;
}

.article__title {
  font-size: 24px;
  font-weight: 600;
  color: var(--dark-grey-title);
  margin-top: 10px;
  margin-bottom: 20px;
}

.article__text {
  font-size: 16px;
  color: var(--dark-grey-text);
  line-height: 22px;
}

.articles__divider {
  height: auto;
  width: 1px;
  background-color: #e4e4e4;
}
